<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gudokjoa5.dao.GroupDao">
	<select id="getGroup" parameterType="long"
	resultType="com.gudokjoa5.model.Group">
		select
		id,
		subscribeserviceId,
		groupAccount,
		leaderUser,
		isActive,
		groupName,
		billigDate
		from group
		where id = #{id}
	</select>
</mapper>