<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gudokjoa5.dao.UserDao">
	<select id ="selectUser" parameterType="long"
		resultType="com.gudokjoa5.model.User">
		select
		id,
		username,
		bank_account,
		is_active,
		profile_img
		from user
		where id = #{id}
	</select>
	
	<select id="selectUserAll" 
	resultType="com.gudokjoa5.model.User">
		select
		id,
		username,
		bank_account,
		is_active,
		profile_img
		from user
	</select>
	
	<select id="getUserByGroupId" 
	resultType="com.gudokjoa5.model.User"
	parameterType="long"
	>
		SELECT us.id, us.username, us.bank_account, us.is_active, us.profile_img
		FROM (
		select u.user_id
		FROM usergroup u 
		where u.group_id = #{id}
		) T1 inner join `user` us
		on T1.user_id = us.id
	</select>
	
	<select id="isUserNameExist"
	resultType="com.gudokjoa5.dto.LoginResponseDTO"
	parameterType="com.gudokjoa5.dto.LoginRequestDTO">
		select u.id, u.username, u.bank_account, u.profile_img
		from user u
		where u.username = #{userName}
	</select>
	
	<insert id = "createUser"
	 	parameterType="com.gudokjoa5.model.User">
		insert into user (
		username,
		bank_account,
		profile_img ,
		is_active
		) values (
		#{username},
		#{bankAccount},
		#{profileImg},
		#{isActive}
		)
		
	</insert>
</mapper>